<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manoj Jobs</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
    <div class="jumbotron">
    <h1>Welcome To MANOJJOBS</h1>
    <p>Continous Jobs Updates For Every Minutes.....</p>
    <a href="hydjob/" class="button">Hyderabad Jobs</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="punejob/" class="button">Pune Jobs</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="banglorejob/" class="button">Banglore Jobs</a>
    </div>
</body>
</html>