figure {
    display: flex;
    flex-direction: row;
    align-items: auto;
  }
img{
    height:250px;
    width:500px;
    border: red solid 5px;
    margin:15px;
}
figcaption {
    font-size: 14px;
    color: #666;
    margin-top: 0px;
}
body{
    color:yellow;
    text-align:center;
    background:yellow;
}
h1{background:red;}
table{
    border-collapse:collapse;
    border:1px solid black;
    width:80%;
    margin:auto;
    text-align:center;
    background:#d60d10;
    color:black;
    }
thead{
    height:60px;
    color:yellow;
}
td{
    padding:8px 5px;
}
